* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

body {
    width: 100%;
    background-color: #2e2e3f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    background-color: #111a;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;;
    gap: 10px;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    width: 50%;
}

h1 {
    margin: 20px 0;
    padding: 10px 0;
}

h2 {
    padding: 0 0 10px 0;
}